@{
    ViewBag.Title = "Category";
}

@model IQueryable<TechStoreLibrary.Models.Entities.Category>

    <head>
        <link rel="stylesheet" href="~/css/category.css">
    </head>

<h2 class="section-title">All Categories</h2>

<ul class="category-grid">
    @foreach (var category in Model)
    {
        <li>
            <img src="@category.Image" />
            <form action="/Category/Details" method="get" class="details-form">
                @Html.AntiForgeryToken()
                <input type="hidden" name="id" value="@category.Id" />
                <h3>@Html.ActionLink(category.Name, "Details", new { id = category.Id })</h3>
            </form>
        </li>
    }
</ul>

<!--<div class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Our Products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="our_products">
                    <div class="row">
                        <div class="col-md-4 margin_bottom1">
                            <div class="product_box">
                                <figure><img src="images/product1.png" alt="#" /></figure>
                                <h3>Computer</h3>
                            </div>
                        </div>
                        <div class="col-md-4 margin_bottom1">
                            <div class="product_box">
                                <figure><img src="images/product2.png" alt="#" /></figure>
                                <h3>Laptop</h3>
                            </div>
                        </div>
                        <div class="col-md-4 margin_bottom1">
                            <div class="product_box">
                                <figure><img src="images/product3.png" alt="#" /></figure>
                                <h3>Tablet</h3>
                            </div>
                        </div>
                        <div class="col-md-4 margin_bottom1">
                            <div class="product_box">
                                <figure><img src="images/product4.png" alt="#" /></figure>
                                <h3>Speakers</h3>
                            </div>
                        </div>
                        <div class="col-md-4 margin_bottom1">
                            <div class="product_box">
                                <figure><img src="images/product5.png" alt="#" /></figure>
                                <h3>internet</h3>
                            </div>
                        </div>
                        <div class="col-md-4 margin_bottom1">
                            <div class="product_box">
                                <figure><img src="images/product6.png" alt="#" /></figure>
                                <h3>Hardisk</h3>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product_box">
                                <figure><img src="images/product7.png" alt="#" /></figure>
                                <h3>Rams</h3>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product_box">
                                <figure><img src="images/product8.png" alt="#" /></figure>
                                <h3>Bettery</h3>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product_box">
                                <figure><img src="images/product9.png" alt="#" /></figure>
                                <h3>Drive</h3>
                            </div>
                        </div>-->
                        @*<div class="col-md-12">
                                <a class="read_more" href="#">See More</a>
                            </div>*@
                        <!--<div class="col-md-12">
                            @Html.ActionLink("See More", "Index", "Category", null, new { @class = "read_more" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->